<template name="AppNav">
    <div class="app-nav">
        <ul>
            <li><a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li><hr/></li>
            <li><a href="#"><i class="fa fa-users"></i> <span>Abrir Chamado</span></a></li>
            <li><a href="#"><i class="fa fa-users"></i> <span>Visualizar Chamados</span></a></li>
            <li><a href="#"><i class="fa fa-users"></i> <span>Avaliar Desenvolvedor</span></a></li>
            <li><hr/></li>
            <li><a href="#"><i class="fa fa-users"></i> <span>Relatório Mensal</span></a></li>
            <li><a href="#"><i class="fa fa-users"></i> <span>Relatório Semanal</span></a></li>
            <li><a href="#"><i class="fa fa-users"></i> <span>Relatório Diário</span></a></li>
        </ul>
    </div>
</template>