<template name="LeftMenu">
    <!--div class="app-nav">
        <ul>
        	{{#if currentUser}}
	            <li><a href="/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
	            <li><a href="#"><i class="fa fa-users"></i> <span>Teste</span></a></li>
            {{/if}}
        </ul>
    </div-->
    <div class="left-menu-bar">
        <div class="logotipo-div">O logotipo</div>
        <button type="button">Ver Chamados</button>
        <button type="button">Ver Relatórios</button>
        <button type="button">Avaliar Desenvolvedor</button>   	
    </div>
</template>