@import '_normalize.scss';
@import '_base.scss';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: $text;
    font-family: Montserrat;
    margin: 0px;
}

.centered{text-align: center;}

header{
    background-color: $dblue;
    height: 90px;
}

header h1{color: white;}

.homeBtn{
    background-color: transparent;
    border: 0px;
    color: white;
    font-size: 50px;
    margin-top: 10px;
    font-family: 'Yesteryear';
}
.homeBtn img{
    margin-right: 10px;
}

.topMenus{
    color: white;
    min-width: 100px;
    height: 35px;
    border: 0px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $dblue;
    float: right;
    margin-top: 30px;
}
.topMenus:hover{
    border: 2px solid $dblueh;
    color: $dblueh;
}
.at-form{
    text-align: center;
    width: 70%;
    max-width: 700px;
    background-color: white;
    box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    min-height: 300px;
    height: auto;
    position: relative;
    z-index: 70;
}
.at-title{
    background-color: $dblue;
    color: white;
    height: 75px;
    border-left: 15px solid #5383FF;
}
.at-title h3{
    padding-top: 25px;
}
.submitBtn{
    height: 40px;
    border: 0px;
    width: 215px;
    border-radius: 30px;
    background-color: #5383FF;
    color: white;
    font-weight: bold;
    padding-left: 40px;
    margin-top: 30px;
}
.submitBtn:hover{
    background-color: $dblue;
}

.submitBtn i{
    margin-right: 20px;
    float: right;
}

#login-form{
    background: #e9e9ea;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 40px;
    display: none;
}

.at-form input{
    line-height: normal;
    height: 50px;
    border: 0px solid;
    border-bottom: 1px solid #d0d0d0;
    width: 60%;
}

.at-form select{
    width: 60%;
    background-color: transparent;
    height: 50px;
    border: 0px;
}

.at-pwd-form{
    margin-top: 60px;
    margin-bottom: 40px;
}

.at-signup-link, .at-signin-link{
    background-color: rgba(197, 197, 197, 0.23);
    padding-top: 12px;
    padding-bottom: 1px;
    font-size: 11px;
}

.at-error{
    margin-top: 20px;
    color: #ce4545;
}

#homeDiv{
    width: 100%;
    background-color: red;
    background-image: url ("./public/images/main-banner.jpg");
}