@import '_normalize.scss';
@import '_base.scss';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: $text;
    font-family: Montserrat;
    margin: 0px;
}

.centered{text-align: center;}

header{
    background-color: $dblue;
    height: 90px;
}

header h1{color: white;}

.homeBtn{
    background-color: transparent;
    border: 0px;
    color: white;
    font-size: 50px;
    margin-top: 10px;
    font-family: 'Yesteryear';
}
.homeBtn img{
    margin-right: 10px;
}

.topMenus{
    color: white;
    min-width: 100px;
    height: 35px;
    border: 0px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $dblue;
    float: right;
    margin-top: 30px;
}
.topMenus:hover{
    border: 2px solid $dblueh;
    color: $dblueh;
}
#login-form{
    text-align: center;
    width: 70%;
    max-width: 700px;
    background-color: white;
    box-shadow: 8px 10px 5px #e2e2e2;
    margin: 0 auto;
    min-height: 300px;
    height: auto;
    display: none;
}
.at-title{
    background-color: $dblue;
    color: white;
    height: 75px;
    border-left: 15px solid #66b5e6;
}
.at-title h3{
    padding-top: 25px;
}