@import '_normalize.scss';
@import '_base.scss';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: $text;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.centered{text-align: center;}

header{
    background-color: $dblue;
}